<odoo>
    <data>
        <function name="write" model="ir.ui.menu">
            <function name="search" model="ir.ui.menu">
                <value eval="[('name', '=', 'Calendar')]" />
            </function>
            <value eval="{'groups_id': [(6, 0, [ref('project_customer_rule.group_advanced_internal')])]}" />
        </function>

        <function name="write" model="ir.ui.menu">
            <function name="search" model="ir.ui.menu">
                <value eval="[('name', '=', 'Discuss')]" />
            </function>
            <value eval="{'groups_id': [(6, 0, [ref('project_customer_rule.group_advanced_internal')])]}" />
        </function>

        <function name="write" model="ir.ui.menu">
            <function name="search" model="ir.ui.menu">
                <value eval="[('name', '=', 'Website')]" />
            </function>
            <value eval="{'groups_id': [(6, 0, [ref('project_customer_rule.group_advanced_internal')])]}" />
        </function>

        <function name="write" model="ir.ui.menu">
            <function name="search" model="ir.ui.menu">
                <value eval="[('name', '=', 'Employees')]" />
            </function>
            <value eval="{'groups_id': [(6, 0, [ref('project_customer_rule.group_advanced_internal')])]}" />
        </function>
    </data>
</odoo>
